extends ../_layouts/project
include ../_modules/logo/logo

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block project-content
  .project-content
    .row
      .large-10.medium-12.large-offset-1.columns
        include:markdown content.md

  .about-section.about-section--bg
    .row.content--fadeIn
      .large-12.columns
        h2 I'm currently looking for full-time software engineer opportunities. Take my resume #[a(href='https://www.dropbox.com/s/mxs46t03u8jtolj/Resume-Yanxian2017.pdf?dl=0', target='_blank', class='link--prominent') here].

  +logo('../')(class='logo')
