extends _layouts/base

include _modules/menu/menu
include _modules/logo/logo
include _modules/footer/footer

block content

  .landing-image-half.landing-image--portrait

  .landing-text-half
    .landing-text
      label.landing-label Full-time
      h1.landing-tagline Ninja #[a(class='link--prominent landing-link--code', href='/code') Code]r
      label.landing-label Sometimes
      h1.landing-tagline UX #[a(class='link--prominent landing-link--design', href='/design') Design]er
      label.landing-label Always
      h1.landing-tagline Art Explorer

  +footer(class='landing-footer')

  +logo('/')(class='logo')
  +menu(class='menu')
